<!--部分テンプレート-->

<!--Books#index-->

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |users| %>
      <tr>

        <tb><%= users.name %></tb>
        <tb><%= link_to "Show", user_path([:id]) %></tb>
      </tr>
    <% end %>
  </tbody>

</table>


