<!--部分テンプレート-->

<!--Books#index-->

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <tb><%= link_to image_tag book.user.get_profile_image("50x50"), user_path([:id]) %></tb>
        <tb><%= link_to book.title, book_path([:id]) %></tb>
        <tb><%= book.body %></tb>
      </tr>
    <% end %>
  </tbody>

</table>



